@model EpicOS.Models.ViewModel.DeviceViewModel
@using EpicOS.Models.Entities;

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="font-weight-bold float-left">Device Details</h4>
                    <a href="/Device/" class="btn btn-secondary float-right"><i class="fa fa-arrow-left"></i>Back to Device List</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt>@Html.DisplayNameFor(Model => Model.Name):</dt>
                                <dd>@Html.DisplayFor(Model => Model.Name)</dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt>MAC Address:</dt>
                                <dd>@Html.DisplayFor(Model => Model.MAC)</dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt>IP Address:</dt>
                                <dd>@Html.DisplayFor(Model => Model.IPaddress)</dd>
                            </dl>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt>Type of Device:</dt>
                                <dd>
                                    @{
                                        if (Model.Type == 1)
                                        {
                                            <text>Sensor</text>
                                        }
                                        if (Model.Type == 2)
                                        {
                                            <text>Hub</text>
                                        }
                                    }
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt>Office:</dt>
                                <dd>@Html.DisplayFor(Model => Model.OfficeName)</dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt>@Html.DisplayNameFor(Model => Model.Floor):</dt>
                                <dd>@Html.DisplayFor(Model => Model.Floor)</dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="font-weight-bold float-left">Logs</h4>
                </div>
                <div class="card-body">
                    <table id="customTable">
                        <thead>
                            <tr>
                                <th hidden>ID</th>
                                <th>Date Created</th>
                                <th>MAC Address</th>
                                <th>IP Address</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Log log in Model.ListOfLogs)
                            {
                                if (Model.MAC == log.MAC)
                                {
                                    <tr>
                                        <td hidden>@log.ID</td>
                                        <td>@log.DateCreated</td>
                                        <td>@log.MAC</td>
                                        <td>@log.IPaddress</td>
                                        <td>@log.Message</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/customDataTable.js"></script>
}