@model IEnumerable<EpicOS.Models.ViewModel.DeviceViewModel>

@{
    ViewData["Title"] = "Devices";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 class="font-weight-bold float-left">Devices</h4>
            <a asp-action="Add" class="btn btn-primary float-right" style="margin-left: 10px;"><i class="fa fa-plus"></i>Add Device</a>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered" id="customTable">
                @if (Model.Count() > 0)
                {
                    <thead>
                        <tr>
                            <th hidden>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.MAC)
                            </th>
                            <th scope="col">
                                IP Address
                            </th>
                            <th scope="col">
                                Office Name
                            </th>

                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Floor)
                            </th>
                            @*<th scope="col">Details</th>*@
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(item => item.Name))
                        {
                            <tr>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td scope="col">
                                    <a href="/Device/Details/@item.ID/?type=@item.Type" style="color: #0037ff;" title="View Details">@Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                                <td scope="col">
                                    @* @Html.DisplayFor(Model => item.Type)*@
                                    @{
                                        if (item.Type == 1)
                                        {
                                            <text>Sensor</text>
                                        }
                                        if (item.Type == 2)
                                        {
                                            <text>Hub</text>
                                        }
                                    }
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.MAC)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.IPaddress)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.OfficeName)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.Floor)
                                </td>
                                @*<td scope="col">
                                        <a href="/Device/Details/@item.ID/?type=@item.Type" class="btn btn-success">Details</a>
                                    </td>*@
                                <td scope="col">
                                    <a href="/Device/Edit/@item.ID/?type=@item.Type" class="btn btn-info">Edit</a>
                                </td>
                                <td scope="col">
                                    <a href="/Device/Delete/@item.ID/?type=@item.Type" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                }
                else
                {

                    <text>No device found. Please add a device.</text>
                }
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}