@model IEnumerable<EpicOS.Models.ViewModel.OfficeDetailsViewModel>

@{
    ViewData["Title"] = "Index";
    var mainOffice = Model.FirstOrDefault();
    var json = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<link rel="stylesheet" type="text/css" href="~/css/Office/Office-stylesheet.css" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="~/js/Office/Office-Script.js" async defer></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2dS9tcUGxQmLovtBlRatCcoeISFEtbXk&callback=initMap">
</script>

<input type="hidden" id="GPSLat" value="@mainOffice.Latitude" />
<input type="hidden" id="GPSLon" value="@mainOffice.Longitude" />
<input type="hidden" id="Buildings" value="@json" />

<div class="container-fluid">
    <div class="row">
        <div class="col-3 col-lg-3">
            <br />
            <a asp-action="Add" class="btn btn-primary">Add New Office</a>
        </div>
    </div>
    <br />
    @foreach (var item in Model)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-group">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>
                                        <label style="color: red;">@Html.DisplayFor(modelItem => item.Name)</label>
                                        <br />
                                        <small>@Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.CityName)</small>
                                    </h5>
                                </div>

                                <div class="card-body">
                                    <a href="/Office/Details/@item.ID" class="office-item" onmouseover="centerMap(@item.Latitude, @item.Longitude)">
                                        <img id="image" src="~/images/Office/building.jpeg" />
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-6">
                    <div id="map"></div>
                </div>
            </div>

        </div>

    }
</div>
