@model IEnumerable<EpicOS.Models.ViewModel.OfficeDetailsViewModel>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Office";
    var mainOffice = Model.FirstOrDefault();
    var json = JsonConvert.SerializeObject(Model);
}
<input type="hidden" id="GPSLat" value="@mainOffice.Latitude" />
<input type="hidden" id="GPSLon" value="@mainOffice.Longitude" />
<input type="hidden" id="Buildings" value="@json" />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-10 col-lg-12">
                            <h4 class="font-weight-bold float-left">List of Offices</h4>
                            <a asp-action="Add" class="btn btn-primary float-right"><i class="fa fa-plus"></i>Add New Office</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row" id="officeList">
                                        @foreach (var item in Model.OrderByDescending(item => item.ID))
                                        {
                                            string filepath = "/uploads/img/office/" + @item.ID + "/" + @item.Filename;
                                            <div class="col-xs-12 col-sm-10 col-md-12 col-lg-4">
                                                <a href="/Office/Details/@item.ID" style="text-decoration: none; color: black; text-align: center;">
                                                    <div class="card shadow" onmouseover="centerMap(@item.Latitude, @item.Longitude)" data-latitude="@item.Latitude" data-longitude="@item.Longitude" data-id="@item.ID" style="background-color: ghostwhite;">
                                                        <div class="card-title" id="office-title">
                                                            <small class="label-info" id="officesName">@Html.DisplayFor(modelItem => item.Name)</small>
                                                        </div>
                                                        <div class="card-body">
                                                            @if (!string.IsNullOrEmpty(item.Filename))
                                                            {
                                                                <img class="img-fluid rounded-top" src="@filepath" />
                                                            }
                                                            else
                                                            {
                                                                <img class="card-img-top img-fluid rounded-top" src="~/images/error.png" />
                                                            }
                                                        </div>
                                                        <div class="card-title m-1" style="text-align: center; height: 3em;">
                                                            <span class="label-address">@Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.CityName)</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <div id="map" class="home-map"></div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/js/Office/Office-Script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsyB1N3HPmTmg4aFJwPLv6uvqxEYtl9X8&callback=initMap" async defer></script>
}